/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ifm-color-primary: #d55000;
  --ifm-color-primary-dark: #9b3800;
  --ifm-color-primary-darker: #642100;
  --ifm-color-primary-darkest: #330d00;
  --ifm-color-primary-light: #ff784f;
  --ifm-color-primary-lighter: #ffb5a8;
  --ifm-color-primary-lightest: #ffebe8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Montserrat", sans-serif;
  --ifm-heading-font-family: "Montserrat", sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #0086a4;
  --ifm-color-primary-dark: #006076;
  --ifm-color-primary-darker: #003d4c;
  --ifm-color-primary-darkest: #001c25;
  --ifm-color-primary-light: #00aed4;
  --ifm-color-primary-lighter: #4fd6ff;
  --ifm-color-primary-lightest: #dbf3ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
