/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "tailwindcss";

@custom-variant dark (&:is([data-theme="dark"] *));

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d55000;
  --ifm-color-primary-dark: #9b3800;
  --ifm-color-primary-darker: #642100;
  --ifm-color-primary-darkest: #330d00;
  --ifm-color-primary-light: #ff784f;
  --ifm-color-primary-lighter: #ffb5a8;
  --ifm-color-primary-lightest: #ffebe8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
